nodered.json
[{"id":"615435fc.9b6c6c","type":"tab","label":"Keep_your_distance","disabled":false,"info":""},{"id":"3e37958c.4c07b2","type":"tcp in","z":"615435fc.9b6c6c","name":"","server":"client","host":"127.0.0.1","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":80,"wires":[["48dcf1e7.67f7c"]]},{"id":"75a88707.b11388","type":"http request","z":"615435fc.9b6c6c","name":"Web Req","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/Contact_Mote/with/key/cjCdgROzZoMAusBY0UoB0K?&value1=value1&value2=value2","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":120,"wires":[[]]},{"id":"11a464e1.48c41b","type":"file","z":"615435fc.9b6c6c","name":"WriteLog","filename":"log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":980,"y":200,"wires":[[]]},{"id":"63012f7.d7e2f5","type":"function","z":"615435fc.9b6c6c","name":"filter","func":"var t = msg.payload;\nvar a = t.substring(0, t.indexOf(\"/\"));\nvar b = t.substring(t.indexOf(\"/\")+1,t.length);\nmsg.payload = {\"value1\": a, \"value2\": b};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":120,"wires":[["75a88707.b11388"]]},{"id":"41a9fdb8.934354","type":"tcp in","z":"615435fc.9b6c6c","name":"","server":"client","host":"127.0.0.1","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":140,"wires":[["48dcf1e7.67f7c"]]},{"id":"4d1bb4a9.ad0044","type":"tcp in","z":"615435fc.9b6c6c","name":"","server":"client","host":"127.0.0.1","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":260,"wires":[["48dcf1e7.67f7c"]]},{"id":"ecdb4d1a.07c398","type":"tcp in","z":"615435fc.9b6c6c","name":"","server":"client","host":"127.0.0.1","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":320,"wires":[["48dcf1e7.67f7c"]]},{"id":"94786564.1e7838","type":"tcp in","z":"615435fc.9b6c6c","name":"","server":"client","host":"127.0.0.1","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":200,"wires":[["48dcf1e7.67f7c"]]},{"id":"48dcf1e7.67f7c","type":"switch","z":"615435fc.9b6c6c","name":"route_messages","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ALARM","vt":"str"},{"t":"cont","v":"RANGE","vt":"str"},{"t":"cont","v":"UPDATE","vt":"str"},{"t":"cont","v":"OUT","vt":"str"},{"t":"cont","v":"STAR","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":440,"y":180,"wires":[["be7a2f9b.b93a18","4a487542.96a8e4"],["4a487542.96a8e4"],["4a487542.96a8e4"],["4a487542.96a8e4"],["4a487542.96a8e4"]]},{"id":"be7a2f9b.b93a18","type":"change","z":"615435fc.9b6c6c","name":"remove_chars","rules":[{"t":"change","p":"payload","pt":"msg","from":"^(.*)LOG_ALARM:","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["63012f7.d7e2f5"]]},{"id":"7fb5f349.49cc6c","type":"function","z":"615435fc.9b6c6c","name":"addTime","func":"var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar temp = '[' + date + ' ' + time + ']';\nmsg.payload = msg.payload.replace (/^/,temp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":200,"wires":[["11a464e1.48c41b"]]},{"id":"4a487542.96a8e4","type":"change","z":"615435fc.9b6c6c","name":"remove_chars","rules":[{"t":"change","p":"payload","pt":"msg","from":"^(.*)LOG_","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":200,"wires":[["7fb5f349.49cc6c"]]}]